#title {
  text-align: center;
  font-size: 54px;
  margin-bottom: 0px;
}

#author {
  text-align: center;
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

#jake {
  transition: 0.5s;
}

#jake:link {
  color: #ffffff;
  text-decoration: none;
}

#jake:visited {
  color: #ffffff;
  text-decoration: none;
}

#jake:hover:after {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  color: #a5a5a5;
}

#jake:hover {
  color: #ffffff;
  text-decoration: none;
  content: ' (jr0.org)';
  color: #a5a5a5;
}

#jake:active {
  color: #ffffff;
  text-decoration: none;
}

#source {
  margin: 30px;
}

#source:link {
  color: #ffffff;
  text-decoration: none;
}

#source:visited {
  color: #ffffff;
  text-decoration: none;
}

#source:hover {
  color: #ffffff;
  text-decoration: none;
}

#source:active {
  color: #ffffff;
  text-decoration: none;
}
